@use '../Dependencies' as *;
@use '../Base' as *;
.header {
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
border-bottom: solid gray 1px;
.nav{
    height: inherit;
    align-items: center;
}
.navbar-brand{
    color: black;
    font-weight: 700;
    align-self: center;
}
.navbar-nav{
    margin-top: 40px;
    padding: 2rem;
}
.nav-link{
    color:gray;
}
.nav-link:hover{
    color:black;
    border-bottom: solid 2px $primary; 
}
.navbar-toggler-icon{
    background-image: url("#{$public-URL}assets/icon-menu.svg") ;
    width: 20px;
    height: 20px;
}
.collapse--position{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60%;
    height: 110%;
    padding: 5px;
    z-index: 2;

}


.navbar-btn-close--position{
    left: 10px;
    position: absolute;
    top: 10px;
}

@include media-breakpoint-up(md){
  .navbar-toggler{
      display: none;
  }  
  
     .navbar-nav{
         flex-direction: row;
         min-width: 300px;
         justify-content: space-between;
         align-items: center;
         margin-top: 0;
        padding: 0;
         
     }
     .nav--d-flex{
        display: flex;
        height: inherit;
     }

     .collapse--position{
        position: static;
        min-height: inherit;
        justify-content: space-between;
        padding: 0px;
        box-shadow: none;
        border-radius: 0px;
    }
}
&__right{
    display: flex; 
    min-width: 100px;
    justify-content: space-between;
    align-items: center;
}
}

.avatar img{
    width: 50px;
    height:  50px;
   
}
.avatar img:hover, .avatar img:active, .avatar img:focus{
    border: 2px solid $primary;
    border-radius: 50%;
}
.navbar-collapse{
    background-color: white !important;
    @include media-breakpoint-up(md){
        display: flex!important;
        flex-basis: auto;
        background-color: transparent !important;
    }
}


.flou{
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110%;
    z-index: 1;
    @include media-breakpoint-up(md){
        display: none;
    }

}
.flou:not(.show){
    display: none;
}